@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/assistant-bold-webfont.woff2') format('woff2'),
         url('../fonts/assistant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/assistant-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/assistant-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/assistant-semibold-webfont.woff2') format('woff2'),
         url('../fonts/assistant-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/assistant-extralight-webfont.woff2') format('woff2'),
         url('../fonts/assistant-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/assistant-light-webfont.woff2') format('woff2'),
         url('../fonts/assistant-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/assistant-regular-webfont.woff2') format('woff2'),
         url('../fonts/assistant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'folks-heavyregular';
    src: url('../fonts/Folks-Heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'assistantregular', arial;
    --berkeley-blue: #072F5F;
    --blue-munsell: #068D9D;
    --dim-gray: #747274;
    --white-smoke: #F2F2F2;
}

button {
    background-color: #FFFFFF;
}

body {
    background-color: black;
}

header, #content {
    width: 75%;
    margin: 0 auto;
}

#logo {
    color: var(--white-smoke);
    font-family: 'folks-heavyregular';
    font-weight: bold;
    font-size: 2rem;
}

nav {
    display: grid;
    grid-auto-flow: column;
}

nav button {
    color: white;
    background-color: var(--blue-munsell);
    border-color: #041c39;
    font-family: 'assistantextrabold';
    font-size: 1.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #02353b;
}

header {
    background-color: var(--berkeley-blue);
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

#content {
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 85vh;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: white;
    transform: translate(-50%, -50%);
}

.list-div {
    border: 1px solid gray;
}